

body{}
 /* width */
 ::-webkit-scrollbar {
    width: 4px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(85, 85, 85);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(108, 108, 108);
}

.mainhome {

    overflow-y: scroll;
    height: 94vh;
    background-color: rgba(39, 39, 39, 255);
    border-top-left-radius: 8px;
}


.btnbox{
    background-color: rgb(47, 47, 47);
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    
}
.btnbox li{
    display: inline;
    margin: 0px 7px ;
}

.btnbox li button{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
}

.btnbox li button:hover{
    background-color: rgb(39, 38, 38);
}

.listulitem li{
    text-align: center;
    border-radius: 3px;
}
.listulitem li a{
    width: 180px;
    text-align: left ;
}
.listulitem li:hover{

    background-color: rgb(49, 97, 168);
}

.additionalinfo h5{
    font-size: 14px;
    display: flex;
    width: max-content;
}

.additionalinfo p{
    font-size: 13px;
    width:140px;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}
.additionalinfo p a{
    color: rgba(44, 146, 44, 0.882);
    text-decoration: none;
}

.additionalinfo div{
    margin: 5px;
}
